.gradle/
build/
run/
run-server/
runs/
out/
.idea/
*.iml
.vscode/
.eclipse/
run-gametest/
run-shaders/
run-opti/
run-stress/
run-stress-vanilla/
run-stress-client/
run-stress-client-vanilla/
.obsidian/